@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');


.heading{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
img{
    margin-top: 5%;
    height: 4rem;
    width: 20rem;

}
h1{
    font-size: 2.5em;
    padding-left: 2%;
    padding-right: 2%;
}
p{
    font-size: 1.15em;
    padding-left: 1%;
    padding-right: 1%;
}

hr{
    height: 3px;
    background-color: rgba(71, 87, 236, 1)    ;
    border: none;
    width: 45%;
}